.App {
  text-align: center;

}


body {
  background-color:lightgrey;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table{
  table-layout: fixed;
  width: 100%;
  border-spacing: 0px;
  background-color: black;

}

tbody{
  background-color: lightgrey;
  color: black;

}

thead{
  background-color: black;
  color: lightgray;
  font-family: monospace;

}

td{
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  font-size: large;
  font-size: 1.1vw;
  border: 1px solid black;
  

}

h1{
  padding: 0px;
  margin: 0px;
  color: darkred;
  background-image: linear-gradient( lightgrey, black);
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 2vw;
}

.sumLine{
  background-color: black;
  color:lightgray;
  font-size: 1.1vw;
  
}

th{
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  font-size: 1.1vw;
  font-family: 'Orbitron', sans-serif;
 
}

div.s{
  white-space: nowrap;
  text-overflow: clip;
}

.kohde{
  text-align: left;
}