.App {
  text-align: center;
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table{
  table-layout: fixed;
  background-color:darkolivegreen;
  width: 100%;

  
}

tbody{
  
  background-color: rgb(161, 159, 159);

}
thead{
  background-color: rgba(63, 61, 61, 0.973);
  color: antiquewhite;
  font-family: monospace;

}

td{
  font-weight: bold;
  font-family: monospace;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

h1{
  padding: 0px;
  margin: 0px;
  color: rgba(63, 61, 61, 0.973);
  background-color: wheat;
  text-align: center;
  font-family: 'sans-serif';
}

.sumLine{
  background-color: wheat;
}

th{
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

div.s{
  white-space: nowrap;
  text-overflow: clip;
}